<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDcxcxa1jny3gzP0yd-uPjegUM9u7Fi_vo</string>
	<key>GCM_SENDER_ID</key>
	<string>286185096600</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.easykey.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>easykey-23a1e</string>
	<key>STORAGE_BUCKET</key>
	<string>easykey-23a1e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:286185096600:ios:c5e993c0f86a6bce5c17ed</string>
</dict>
</plist>